header{
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 9999;
  background: #FF93AB -webkit-gradient(linear, left top, right bottom, from(#056bcb), to(#05cb8d)) no-repeat;
}

.logo{
  height: 55px;
  width: 55px;
  padding: 5px;
  float: left;
}

h1{
  margin-top: 10px;
  margin-left: 5px;
  font-family: cursive;
  height: 55px;
  float: left;
  color: azure;
}

.auth-button-login{
  display: inline-block;
  font-size: 12px;
  margin: 20px;
  width: 100px;
  border: none;
  background-color: lightGrey;
  color: black;
}

.auth-button-logout{
  display: inline-block;
  font-size: 14px;
  margin: 20px;
  width: 100px;
  height: 27.81px;
  border: none;
  background-color: #c0392b;
  border-radius: 2px;
  border: 1px solid;
  color: white;
}

.user-auth{
  float: right;
  display: flex;
}

.user-container{
  display: flex;
  height: 65px;
  align-items: center;
  /*display: inline-block;*/
}

.header-user-thumbnail{
  width: 50px;
  margin: 5px;
}

.my-path-button{
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #e67e22;
  padding: 5px 3px 2px;
  width: 100px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid;
  color: white;
}

.header-username{
  display: inline-block;
  color: white;
  font-size: 15px;
}
